.box {
  display: inline-block;
  font-family: Arial;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(196, 196, 196);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 7px;

}
.tui {
  width: 50px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 5px;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
  vertical-align: middle;
}
.ques {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: rgb(126, 126, 126);
  margin-right: 50px;
  border: none;
}
.tweet-button {
  margin-right: 20px;
  background-color:#088adb;
  border: none;
  color: #F5F8FA;
  border-radius: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 17px;
  padding-left: 17px;
  font-weight: bold;
  font-size: 14px;
  font-style: Chirp;
  cursor: pointer;
  transition: box-shadow 0.2s;
  vertical-align: middle;
}
.tweet-button:hover {
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}