p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.new {
  color: rgb(199, 12, 12);
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 15px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.pros {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 8px;
}

.price {
  margin-bottom: 20px;
}

.buy {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
  background-color: rgb(50, 50, 231);
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.buy:hover {
  opacity: 0.8;
}
.buy:active {
  opacity: 0.6;
}
